/*imports*/
.all .filter::before, .all header ul .second-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all header ul .second-item nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*Styling elements*/
body {
  background-image: url("../images/Aidabackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

html, body, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.all {
  width: 100vw;
}

.all .filter {
  background-color: rgba(0, 0, 0, 0.774);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.all .filter::before {
  content: 'AIDA';
  font-size: 50vw;
  height: 100%;
  color: rgba(255, 255, 255, 0.025);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: 1;
}

.all .content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  width: 80%;
  margin: 0 auto;
  top: 0;
  z-index: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.all .text {
  text-align: center;
  width: 50%;
  color: rgba(255, 255, 255, 0.596);
  font-size: 2vw;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .all .text {
    font-size: 5vw;
    width: 90%;
    color: #adadad;
  }
}

.all header {
  width: 100%;
  height: 70px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.055);
  padding: 10px 0;
}

.all header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .all header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.all header ul .second-item {
  color: white;
  width: 70%;
  margin: 0 15%;
  font-size: 25px;
  text-shadow: 2px 1px black;
}

@media screen and (max-width: 480px) {
  .all header ul .second-item {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 0;
    left: 0;
    font-size: 18px;
    background-color: black;
  }
}

.all header ul .second-item nav {
  z-index: 4;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.all header ul .second-item nav div {
  padding: 0 25px;
}

/* add more if needed and remember to change width */
/*# sourceMappingURL=styles.css.map */